@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


.menu-item {
  @apply w-28 flex justify-center items-center font-bold
  hover:w-28 hover:text-rose-600 transition-all;
}

.custom-btn {
  @apply bg-rose-600 px-2 py-1  md:px-6 md:py-3 shadow-sm hover:shadow-lg hover:bg-rose-700 font-semibold text-slate-100 rounded-sm;
}